body {

    height: 70vh;
    display: flex;
    flex-direction: column;
    background: black;
}

header {
    width: 89%;
    height: 100%;
    align-self: center;
}
main {
    background-image: url('../images/succulent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin-top: -10rem;
    width: 90%;
    justify-self: center;
    align-self: center;
    
    border-radius: 15px;
}
.hero {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);  /* Safari support */
    
    margin: 15rem 0;
    padding: 2rem;
    border-radius: 20px;
    
}

@media screen and (max-width: 800px) {
    .nav-opts {
        display: none;
    }
    .login-nav {
        display: none;
    }
    
    main {
        width: 100%;
    }
    
    .hero {
        margin: 1rem;
    }
}