body {
    width: 85%;
    background-color: black;
    margin: 0 auto;
}

/*nothing spill out of its box*/
*, *::before, *::after {
    box-sizing: border-box;
}

.hero {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);  /* Safari support */
    
    margin: 3rem;
    padding: 2rem;
    border-radius: 20px;
    
}
