
.header-bar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 95%;
    padding: 0 1em;
}

/* Left section */
.left {
    justify-self: start;
}

/* Center nav */
.center {
    justify-self: center;
    display: flex;
    gap: 40px;
}

/* Right section */
.right {
    justify-self: end;
}

/* Nav items */
.opt {
    margin: 0;
    color: var(--accent2);
    cursor: pointer;
}



/*.header-bar {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    padding: 20px;*/
/*}*/

/*.logo {*/
/*    margin: 1rem 3rem;*/
/*    background-color: var(--accent2);*/
/*    padding: 0.5rem;*/
/*    border-radius: 10px;*/
/*}*/
/*.logo,*/
/*#loginBtn {*/
/*    flex-shrink: 0;*/
/*}*/

/*.opt {*/
/*    margin: 0;*/
/*    color: var(--accent2);*/
/*    cursor: pointer;*/
/*}*/

/*#nav-opts {*/
/*    display: flex;*/
/*    gap: 40px;*/

/*    !* THIS is what centers it *!*/
/*    margin: 0 auto;*/
/*}*/


/*#loginBtn {*/
/*    background-color: var(--accent2);*/
/*    !*margin: 1rem 3rem;*!*/
/*    padding: 0.5rem;*/
/*    border-radius: 10px;*/
/*    font: var(--font-main) ;*/
/*    !*font-weight: var(--fw-bold);*!*/
/*    !*font-size: var(--font-variation-wdth);*!*/
/*    border: none;*/
/*    font-size: 1.3rem;*/
/*    font-weight: bold;*/
/*    margin: 0.67em 1em;*/
/*}   */
