body {

    height: 70vh;
    display: flex;
    flex-direction: column;
    background: black;
}

header {
    width: 89%;
    align-self: center;
}
main {
    background-image: url('../images/succulent.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin-top: -10rem;
    padding-top: 11rem;

    width: 90%;
    align-self: center;
}
.code-windows {
    display: flex;
    flex-direction: row;
    /*margin: 1rem 1rem 0 1rem;*/

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    
    border-radius: 8px;
}

#js-html-display {
    width: 50%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
    
    border: 1px solid rgba(255, 255, 255, 0.4);
}

#result-display {
    width: 50%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.4);
}