body {

    height: 70vh;
    display: flex;
    flex-direction: column;
    background: black;
}

header {
    width: 89%;
    align-self: center;
}
main {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin-top: -10rem;
    padding-top: 11rem;

    width: 90%;
    align-self: center;
    
    border-radius: 15px;
}
.code-windows {
    display: flex;
    flex-direction: row;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    
    border-radius: 8px;
}

#js-html-display {
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    background: rgba(208, 204, 104, 0.7);
    
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

#result-display {
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    background: rgba(208, 204, 104, 0.7);

    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.panel-header button{
    width: 6rem;
    height: 2rem;
    background-color: var(--accent3);
    border: 0;
    border-radius: 10px;
}

.panel-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
    /* background-color: black;  */
}

.panel-body{
    padding: 1rem;
    background: rgba(208, 204, 104, 0.7);
    
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px;

}